<h1>Modifier une planète</h1>

<%= render "form", article: @article %>

<br>

<div>
  <%= link_to "Voir cette planète", @article %> |
  <%= link_to "Voir toutes les planètes", articles_path %>
</div>
