<p style="color: green"><%= notice %></p>

<h1>Visiter le cosmos</h1>

<div id="articles">
  <% @articles.each do |article| %>
    <%= render article %>
    <p>
      <%= link_to "Voir plus", article %>
    </p>
  <% end %>
</div>

<%= link_to "Créer un article", new_article_path %>
