@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');

.navbar {
  background-color: #fff;
  /* Background color of the navigation bar */
  border-bottom: 1px solid #ccc;
  /* Border at the bottom of the navigation bar */
  padding: 10px;
  /* Interior spacing of the navigation bar */
}

.navbar-brand {
  font-family: 'Inter';
  color: #333;
  /* Color of the text of the navigation bar mark */
  font-size: 1.5rem;
  /* Text size of the navigation bar marker */
  font-weight: bold;
  /* Font weight of the navigation bar mark */
}

.navbar-nav {
  margin-left: auto;
  /* Right alignment of navigation elements */
}

.nav-link {
  font-family: 'Inter';
  color: #333;
  /* Text color of the navigation links */
  font-size: 1.2rem;
  /* Text size of navigation links */
  font-weight: bold;
  /* Font weight of navigation links */
  padding: 10px;
  /* Interior spacing of the navigation links */
  transition: all 0.3s ease-in-out;
  /* Transition for flyover effects */
}

.nav-link:hover {
  font-family: 'Inter';
  background-color: #333;
  /* Background color of navigation links on hover */
  color: #fff;
  /* Text color of navigation links on hover */
  text-decoration: none;
  /* No underlining of navigation links on hover */
}

.row {
  margin-bottom: 20px;
}

.card {
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.card-img-top {
  max-width: 50%;
}

.card-title {
  font-family: 'Inter';
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-text {
  font-family: 'Inter';
  font-size: 1rem;
  margin-bottom: 10px;
}

.btn-secondary {
  font-family: 'Inter';
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
}

.col-sm-6 {
  width: 10%;
  float: left;
}

/* Rétrécissement des cartes */
.card {
  width: 80%; /* rétrécissement de 20% */
}
h3 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color: #FFFFFF;
}
